/* .bordered > div{
    height:50px;
    font-size: xx-large;
    text-align: center;
    border:1px solid black;
    margin-bottom:20px;
} */
body {
    background-color: cadetblue;
    text-align: center;
    height: 100%;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(red, yellow);
}