/* .bordered > div{
    height:50px;
    font-size: xx-large;
    text-align: center;
    border:1px solid black;
    margin-bottom:20px;
} */
html,body {
    /* background-color: cadetblue; */
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    background-image: linear-gradient(red, yellow);
    background-repeat: no-repeat;
}
img {
    width: 700px;
    height: 700px;
    border-radius: 50px;
}